<div class="dropdown-container">
  <div class="dropdown-toggle" (click)="onDropdownClick()">{{ getFieldTitle() }}</div>
  <div *ngIf="dropdown" class="dropdown">
    <input placeholder="Filter..." class="dropdown-input" [(ngModel)]="filter" (ngModelChange)="onFilterChange()" *ngIf="!disableFilter"/>
    <div *ngIf="!groupBy; else groupContent">
       <ng-container *ngFor="let i of flatSource"> 
        <div class="item" (click)="select(i)">{{getItemDisplayField(i)}}</div>
      </ng-container>
    </div>
    <ng-template #groupContent>
      <ng-container *ngFor="let s of groupSource"> 
          {{s.group}}
          <div class="item" *ngFor="let item of s.items" (click)="select(item)">{{getItemDisplayField(item)}}</div>
      </ng-container>
    </ng-template>
  </div>
</div>